body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 64px;
}
.menu {
	width: 150px;
	font-weight: bold;
	color: #fff;
	background-color: #45015d;
	border-radius:15px;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
}

.menu a {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-decoration: solid;
	color: inherit;
	box-sizing: border-box;
}

.images img{
	width: 45%;
	border-radius: 10px;
	margin: 5px;
	opacity: 0.7;
}

.images img:hover{
	opacity: 1;
}

h2{
	color: #45015d;
	font-size: 48px;
	font-weight: 400;
	margin: 10px 0;
}

hr{
	width: 100%;
	border: 5px solid #45015d;
	border-radius: 4px;
	margin: 20px 0;
}

.member{
	padding: 8px;
	width: 30%;
	display: inline-block;
	box-sizing: border-box;

}

.member .description{
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 2px 16px 5px;

}

.member .position{
	color: gray;
}

.member img{
	filter: grayscale(30%);
	border-radius: 10px;
	width: 100%;
}

.main{
	margin-left: 360px;
	margin-right: 40px;
	margin-top: 80px;
}

.tariff{
	width: 49%;
	padding: 0 8px;
	min-width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
}


.tariff ul{
	background-color: white;
	color: black;
	padding: 0;
	margin: 0;
	border-radius: 10px;
}

.tariff li{
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;	
	border-bottom-color: #dddddd;
	border-radius: 10px;
	padding: 16px 0;
}

.tariff .tariff-name{
	color: white;
	background-color: #45015d;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 24px;
	padding: 32px 0;

}

.tariff .price{
	font-size: 30px;
	font-weight: 400;
}
.tariff .period{
	opacity: 0.7;
}
.tariff button{
	color: #45015d;
	background-color: white;
	border-radius: 20px;
	padding: 15px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;

}

.tariff button:hover{
	color: white;
	background-color: #45015d;
}

.pro .tariff-name{
	background-color: #f44336;
}

.pro button{
	background-color: #f44336;
	color: white;
}

#contact input{
	border: 1px solid #ccc;
	outline: none;
	padding: 8px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

#contact button{
	background-color: #45015d;
	width: 100%;	
	border-radius: 10px;
	color: white;
	padding: 12px 24px;
	display: block;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;

}

#contact button:hover{
	color: black;
	background-color: white;
}

#footer{
	padding: 32px 58px 32px;
	background-color: #f1f1f1;
	text-align: right;
}

#footer a{
	color: black;
	
}



